{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'pagos_create'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Ingresar Pagos
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									

									<div class='form-group'>
									    {{ form_label(form.created_at) }}
									    {{ form_widget(form.created_at, { attr: { 'class': 'form-control datepicker',
                                         'placeholder' : "DD/MM/YYYY", 'type' : "text"
                                    }}) }}

									<div class='form-group'>
									    {{ form_label(form.cantidad) }}
									    {{ form_widget(form.cantidad, { attr: { 'class': 'form-control' }}) }}
									</div>

                                    <div class='form-group'>
                                        {{ form_label(form.Referencia) }}
                                        {{ form_widget(form.Referencia, { attr: { 'class': 'form-control' }}) }}
                                    </div>


									<div class='form-group'>
									    
									    {{ form_widget(form.aprobado, { attr: { 'class': 'form-control', 'data-toggle' : "toggle",  'data-on':"Aprobado", 'data-off':"No Aprobado"}}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.usuario_id) }}
									    {{ form_widget(form.usuario_id, { attr: { 'class': 'form-control selectpicker col-md-6',
                                        'data-live-search' : "true" }}) }}
									</div>

                                    <div class='form-group'>
                                        {{ form_label(form.cuenta_id) }}
                                        {{ form_widget(form.cuenta_id, { attr: { 'class': 'form-control selectpicker col-md-6',
                                        'data-live-search' : "true" }}) }}
                                    </div>
                                                  

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
